
<ion-content>
  <div class="user_center">
    <div class="user_left">
      <img src="/assets/user/user.png" />
    </div>
    <div class="user_right">
        <p [routerLink]="['/login']">登录/注册</p>
    </div>
  </div>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="menu-outline" color="danger"></ion-icon>
      <ion-label>全部订单</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="card" color="success"></ion-icon>
      <ion-label>待付款</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="car" color="warning"></ion-icon>
      <ion-label>待收货</ion-label>
    </ion-item>
    <ion-item-divider>

    </ion-item-divider>
    <ion-item>
      <ion-icon slot="start" name="star" color="tertiary"></ion-icon>
      <ion-label>我的收藏</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="people-sharp" color="primary"></ion-icon>
      <ion-label>联系客服</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
