.ihead{
    margin-top: 1rem;
    ion-badge{
        position:absolute;
        right: 2px;
        top: 0px;
    }
}

.cate{
    width:100%;
    height: 100%;
    display: flex;
    .cate_left{
        width: 7rem;
        //border-right: 1px solid #eee;
        overflow-y: auto;
        ion-item
        {
            font-size: 1rem;
            --background: #eee;
        }
        .taped{
            --background: #fff; 
        }
    }
    .cate_right{
        flex:1;
        overflow-y: auto;
    }
}